<div class="all-login bg-info fixed-top">
  <nav class="navbar navbar-dark bg-dark navbar-custom fixed-top">
    <div class="d-flex align-items-center justify-content-center text-white">
      <div class="mr-4 text-large">
        <b>Date Du Jour : {{ currentDate | date }}</b>
      </div>
      <div class="text-large">
        <b>Heure Actuelle : {{ currentTime }}</b>
      </div>
    </div>
  </nav>
  <div class="container center-form mb-4 mt-5">
    <div class="card col-md-10 bg-light mt-1 small-form">
      <div class="card-header text-center text-success">
        <em class="font-italic">
          <h2 class="font-weight-bold">Login</h2>
          <h6 class="text-warning font-weight-bold">Please enter email & password !!</h6>
        </em>
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="mb-3" [class.has-error]="submitted && loginForm.controls['email'].invalid">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            <div *ngIf="submitted && loginForm.controls['email'].invalid" class="text-danger">Please enter a valid email
            </div>
          </div>

          <div class="mb-3" [class.has-error]="submitted && loginForm.controls['password'].invalid">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
            <div *ngIf="submitted && loginForm.controls['password'].invalid" class="text-danger">Please enter a password
            </div>
          </div>

          <button type="submit" class="btn btn-outline-primary" [disabled]="!loginForm.valid">Login</button>
        </form>
        <a class="login text-success mt-1 ml-1 mb-2 font-weight-bold font-italic" routerLink="/logout">New user ? Click to signup !</a>
      </div>
    </div>
  </div>
</div>